
body{
 
	font-family: Verdana, Geneva, sans-serif;	
}

.banner{
	background-color: #000;
	color: #fff;	
	margin:0 0 0 0;
	height: 325px;
	width: 100%;
}
.header_box{
	padding-top: 5px;
 
}
h1{
	font-size:100px;
	margin-bottom:0;
}
h3{
	margin-top: 0;
	font-size:30px;
}
h5{
	color:#cc0000;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



.overlay{
	position:fixed;
	margin-top: 2%;
	margin-left:2%;
	width: 70%;
	height: 85%;
	background-color: #fff;
	opacity: 0.6;
	}

.basket{
	position:relative;
	float:right;
    margin-top: 5px;
	width: 25%;
	height: 75%;
	background-color: #fff;
	opacity: 0.9;
    color: #009900;


}

.menu{
    display: flex;
	color:#ff0000;
	position:sticky;
	margin-top: 3%;
	margin-left:5%;	
    align-content:center;
}


form{
    background-color:#fff;
    width: 15%;
	height: 70%;
	position:relative;
	padding: 1%;
	margin:1% 1% 1% 5%;
    display:inline-table;
}

btnOrder{
    margin: 5% 20% 70% 3%;
    height: 3%;
    width: 5%;
    color:#fff;
    background-color: darkgreen;
    border-radius: 3%;
        
    
}

.overlay2{
	position:fixed;
	margin-top: 2%;
	margin-left:2%;
	width: 96%;
	height: 85%;
	background-color: #fff;
	opacity: 0.6;
    align-content: center;

	}


.title{
    position:relative;
    color: darkgreen;
    font-style: italic;
    display: block;
    margin-top: 10%;
    margin-left:45%;
}

.picture{
    position:relative;
    display: block;
    margin-left: 55%;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }